<div class="container">
<div class="alert alert-info text-center mt-3">
<h1>Template Driven Form Example</h1>
</div>


<div class="row">
    <div class="col-5">
        <div class="card">
            <div class="card-header text-center">
              Product Form
            </div>
               
            <div class="card-body">
              <form #myForm="ngForm" (ngSubmit)="handleForm(myForm)" autocomplete="off" >
                <div class="form-group">
                  <label>ID</label>
                  <input type="text" name="id" #id="ngModel" [(ngModel)]="ps.prodForm.id" class="form-control" required [readonly]="myObject.isReadOnly"> 
                  <span *ngIf="id.invalid && id.touched">Product Id Must be Provided</span>
                </div>
          
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="ps.prodForm.name" required>
                    <span *ngIf="name.invalid && name.touched">Product Id Must be Provided</span>
                  </div>

                <div class="form-group">
                    <label>Price</label>
                    <input type="text" name="price" #price="ngModel" class="form-control" [(ngModel)]="ps.prodForm.price" required>
                    <span *ngIf="price.invalid && price.touched">Product Id Must be Provided</span>

                  </div>
                <div class="form-group text-center">
                  <button class="btn btn-primary btn-space" type="submit" [disabled]="myForm.invalid">{{myObject.btnLable}}</button>
                  <span *ngIf="myObject.isReadOnly">
                      <button class="btn btn-danger btn-space" type="button" (click)="changeLable()" >Cancel</button>
                  </span>

                </div>
              </form>
            </div>
          
          </div>
    </div>

    <div class="col-7">
      <app-list-products (parentData)="manageProperties($event)"></app-list-products>
    </div>

  </div>




</div>